.navber{
    background-color: rgb(250, 250, 250);
    padding: 15px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navber img{
    width: 50px;
    
}

/* .navber img:hover{
transform: scaleX();
} */

.navber a{
    text-decoration: none;
    color: #0a0303;
    margin-left: 20px;
}
.navber a:hover{
    color: orangered;
}